<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #f7f7f7;">
    <h1 class="title">Covid-19</h1>
    <div class="total">
        <h1>Total cases:</h1><br>
        <b> <%= total  %></b>
    </div>
    <div class="boxx">
        <div class="blue">
            <h1>Active cases </h1><br>
            <b><%= active %></b>
        </div>
        <div class="green">
            <h1>Cured cases</h1><br>

            <b><%= cured  %></b>
        </div>
        <div class="red">
            <h1>Deaths total</h1>
            <br>
            <b><%= death %></b>
            
        </div>
    </div>




    <!-- <h1>Total cases  : <%= total  %></h1>
    <h1>active cases  : <%= active %></h1>
    <h1>Cured/Dischared  : <%= cured  %></h1>
    <h1>Deaths: <%= death %></h1> -->
    <form action="/" method="post">
        <h1 class="head">To check cases statewise</h1>
        <input type="text" name="statename" class="in" placeholder="statename">
        <br>
        <button type="submit" class="btn btn-dark b">GO</button>
    </form>

</body>
</html>